.image-wrapper {
  width: 100%;
  height: 100%;
}


.vinegar-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}


.vinegar-content {
  background-color: #fffcfc;
  border: 2px solid #ffb3b3;
  border-radius: 20px;
  padding: 30px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.vinegar-content:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
}


.vinegar-content h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #b30000;
  font-weight: bold;
}

.vinegar-content p {
  font-size: 1rem;
  line-height: 1.7;
  color: #333;
}


.btn-custom {
  /* display: inline-block;
  margin-top: 20px;
  padding: 10px 25px;
  color: #b38989;
  border: 2px solid #b30000;
  background-color: transparent;
  text-decoration: none;
  border-radius: 25px;
  transition: all 0.3s ease; */
   background-color: #ff6f61;
  border: none;
  color: white;
  font-weight: 600;
  padding: 8px 16px;
  border-radius: 25px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn-custom:hover {
  /* background-color: #685e5e;
  color: #fff;
  text-decoration: none; */
  background-color: #e85d5026;
  color: black;
  transform: scale(1.05);
}



 .vinegar-content1 p {
  font-size: 1rem;
  line-height: 1.7;
  color: #333;
}

.vinegar-content1 {
  margin-top: 10px;
  background-color: #faf7f7;
  border: 2px solid #ffb3b3;
  border-radius: 20px;
  padding: 30px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
   overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;

}
.vinegar-content1:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
}


.vinegar-content1 h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #b30000;
  font-weight: bold;
}

.h1 {
  color: white;
  margin-top: 20px;
}
#footer {
  background: #2b2a2a;

  padding: 15px;
  text-align: center;
}

.banner1 {
  height: 45vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.53);
  background: linear-gradient(to right, rgba(0, 0, 0, 0.215)), url(assets/award\ bannr.webp) no-repeat center center/cover;
  ;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #474747;
  color: #333;
}

h1,
h2,
h3 {
  font-weight: 700;

}


.navbar {
  height: 80px;
  background: linear-gradient(90deg, #222, #444);
  color: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.navbar img {
  height: 70px;
  width: 70px;
  border-radius: 50%;
}

.navbar .nav-link {
  position: relative;
  color: white !important;
  font-weight: 500;
  padding: 8px 12px;
  transition: color 0.3s ease;
}

.navbar .nav-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 0%;
  background-color: #ff6f61;
  transition: width 0.3s ease;
}

.navbar .nav-link:hover {
  color: #ff6f61 !important;
}

.navbar .nav-link:hover::after {
  width: 100%;
}

.lunch-img {
  height: 100%;
}