 .navbar{  
 height: 80px;
  background: linear-gradient(90deg, #222, #444);
  color: white;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

.navbar img {
  height: 70px;
  width: 70px;
  border-radius: 50%;
}

.navbar .nav-link {
  position: relative;
  color: white !important;
  font-weight: 500;
  padding: 8px 12px;
  transition: color 0.3s ease;
}

.navbar .nav-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 0%;
  background-color: #ff6f61;
  transition: width 0.3s ease;
}

.navbar .nav-link:hover {
  color: #ff6f61 !important;
}

.navbar .nav-link:hover::after {
  width: 100%;
}




    body{
      background-color: gray;
    }
    .banner9 {
      background: url('assets/about\ us\ banner.jpg') center/cover no-repeat no-repeat center center/cover;;
      height: 50vh;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6);
    }

    .award-card {
      background: #f1f0f0;
      border: none;
      border-radius: 20px;
      overflow: hidden;
      box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
      transition: transform 0.3s ease, box-shadow 0.3s ease;
    }

    .award-card:hover {
      transform: translateY(-8px);
      box-shadow: 0 12px 30px rgba(0, 0, 0, 0.25);
    }

    .award-img {
      height: 250px;
      object-fit: cover;
      width: 100%;
    }

    .award-body {
      padding: 20px;
      background: linear-gradient(135deg, #f5f0f0, #fefcfc);
      color: #fff;
    }

    .award-body h3 {
        color: black;
      font-weight: bold;
      text-align: center;
    }

    .award-body p {
        color: black;
      font-size: 15px;
      line-height: 1.6;
      margin-top: 10px;
    }
    #footer {
  background: #2b2a2a;
  
  padding: 15px;
  text-align: center;
}
.award-banner{
      height: 50vh;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.53);
  background: linear-gradient(to right,rgba(0, 0, 0, 0.215)),url(assets/feedback\ image1.jpg)no-repeat center center/cover;;
}