body {
  font-family: 'Poppins', sans-serif;
  background-color: #474747;
  color: #333;
}

h1, h2, h3 {
  font-weight: 700;

}


.navbar {
  height: 80px;
  background: linear-gradient(90deg, #222, #444);
  color: white;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}
.h1{
    color: white;
    padding-top: 20px;
}

.navbar img {
  height: 70px;
  width: 70px;
  border-radius: 50%;
}

.navbar .nav-link {
  position: relative;
  color: white !important;
  font-weight: 500;
  padding: 8px 12px;
  transition: color 0.3s ease;
}

.navbar .nav-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 0%;
  background-color: #ff6f61;
  transition: width 0.3s ease;
}

.navbar .nav-link:hover {
  color: #ff6f61 !important;
}

.navbar .nav-link:hover::after {
  width: 100%;
}
#footer {
  background: #2b2a2a;
  
  padding: 15px;
  text-align: center;
}




.banner5 {
  height: 40vh;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.53);
  background: linear-gradient(to right,rgba(0, 0, 0, 0.215)),url(assets/img3.avif)no-repeat center center/cover;;
}






#repeat {
  margin-top: 30px;
  margin-bottom: 30px;
}

.card {
  border: none;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
}


.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.card-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 10px;
  color: #333;
}

.card-text {
  font-size: 0.95rem;
  color: #666;
}

.card p {
  margin-bottom: 5px;
}

.card p del {
  color: #999;
  font-size: 0.9rem;
  margin-right: 5px;
}

.card p:last-of-type {
  font-weight: bold;
  color: #d9534f; 
}


.btn-outline-success {
 background-color: #ff6f61;
  border: none;
  color: white;
  font-weight: 600;
  padding: 8px 16px;
  border-radius: 25px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn-outline-success:hover {
  background-color: #e85d5026;
  color: black;
  transform: scale(1.05);
}