/* body{
    background-image: url(assets/img3.avif);
    background-repeat: no-repeat;
    background-size: cover;   
} */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.image{
    width: 60px;
    height: 60px;
 
    border-radius: 10px;
}
.card{
    color: black;
    background-color:lightcoral;
    border: 2px solid black;
    border-radius: 25px;
   
}
#Nav{
    background-color: lightcoral;
    color: black;
}
/* .footer{
    background-color: lightcoral;
    color: black;  */
/*    
} */
footer{
     background-color: lightcoral !important;
    color: black; 
}

repeat img{
    height: 40px;
}


