/* body{
    background-image: url(assets/img3.avif);
    background-repeat: no-repeat;
    background-size: cover;   
} */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.image{
    width: 60px;
    height: 60px;
    border: 1px solid black;
    border-radius: 10px;
}
